body {
    margin: 0;
    background-color: #0a0a0a;
    color: #00f2ff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    position: relative;
    text-align: center;
}

#ui {
    position: absolute;
    width: 100%;
    top: 20%;
    z-index: 10;
}

#game-logo {
    width: 100px;
    margin-bottom: 10px;
}

canvas {
    border: 2px solid #00f2ff;
    box-shadow: 0 0 20px #00f2ff;
    background: #000;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: transparent;
    color: #00f2ff;
    border: 2px solid #00f2ff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00f2ff;
    color: #000;
}
